#app {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --primary: #4eb883;
  --white: #e9f9f4;
}

*,
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.router-link-exact-active {
  font-weight: bold;
}

.btn-primary,
.bg-primary {
  background-color: var(--primary) !important;
  border-color: inherit;
}

.btn-outline-primary {
  color: #000;
  border-color: var(--primary);
}

.home,
.foods,
.food-detail {
  min-height: 90.5vh;
}
